h1 {
    background-image: url('/mini-project3/assets/images/screenshot/mynaplesset.png'); 
    background-size: cover;
    height: 333px;
    background-position: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 3rem;
    font-weight: 150;
    cursor: pointer;
    display: block;
    color: #362e2e; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}